.container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.input {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  font-size: 1.2em;
}
