.card {
  width: 100%;
  box-sizing: border-box;
}

.header {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  color: #fff;
  word-spacing: 0.3em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.dropdownWrapper {
  position: relative;
}

.exerciseInput {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  max-height: 200px;
  overflow-y: auto;
  z-index: 50;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  text-align: left;
}

.dropdownItem:hover {
  background-color: #333;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cancelButton {
  flex: 1;
  background-color: #ff4444;
  color: white;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {
  flex: 1;
  background-color: var(--primary-color);
  color: black;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButtonLoading {
  background-color: #444;
}
